doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title  #{title}
      link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css')
      script(src='https://code.jquery.com/jquery-3.6.0.slim.min.js' integrity='sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=' crossorigin='anonymous')
      script(type='text/javascript' charset='utf8' src='https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js')
      script(type='text/javascript' charset='utf8' src='https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js')
      script(type='text/javascript' charset='utf8' src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js')
      script(type='text/javascript' charset='utf8' src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js')
      script(type='text/javascript' charset='utf8' src='https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js')
      script(type='text/javascript').
        $(document).ready( function () {$('#table_id').DataTable({
        dom: 'Bfrtip',
        buttons: [
         'csv', 'excel', 'pdf'
        ]
        });});


  body

    main.errors
      h1 Review errors  - #{(new Date(number)).toDateString('en-En')}
      table#table_id.display
        thead
          tr
            th(style ="margin-right: 2rem") Something went wrong !! Check these sites. 
            th(style ="margin-right: 2rem") Code
            th(style ="margin-right: 2rem") Status
        tbody
          if(errors.length > 0)
            each url in errors 
              tr
                th(style ="margin-right: 2rem") #{url.url}
                th(style ="margin-right: 2rem") #{url.status}
                th(style ="margin-right: 2rem") errors
          else 
            tr
              th All pages working fine!!
              th 200
              th OK

      div.buttons(style =' margin-top: 2rem; display: flex; gap: 7rem')
        a(href=`http://localhost:3000/day-review?time=${number - 86400 * 1000}` style="inline-block"  ) <= Prev day
        a(href=`http://localhost:3000/update` style="inline-block") Update today
        a(href=`http://localhost:3000/day-review?time=${number + 86400 * 1000}` style="inline-block" ) Next day =>

    script 






